/* line 1, E:/Project/Weather App/styles/sass/main.sass */
html {
  box-sizing: border-box;
}

/* line 4, E:/Project/Weather App/styles/sass/main.sass */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 7, E:/Project/Weather App/styles/sass/main.sass */
body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  color: #FFF;
  background: #1a1a1a;
}

/* line 14, E:/Project/Weather App/styles/sass/main.sass */
#container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 425px;
  height: 100vh;
  z-index: 1;
  position: relative;
}

/* line 24, E:/Project/Weather App/styles/sass/main.sass */
#container h1 {
  position: absolute;
  top: 7px;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 34, E:/Project/Weather App/styles/sass/main.sass */
#container:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* line 43, E:/Project/Weather App/styles/sass/main.sass */
#container.rainbg {
  background: url(../../img/rain.png);
  background-size: cover;
}

/* line 46, E:/Project/Weather App/styles/sass/main.sass */
#container.drizzlebg {
  background: url(../../img/drizzle.jpg);
  background-size: cover;
}

/* line 49, E:/Project/Weather App/styles/sass/main.sass */
#container.clearbg {
  background: url(../../img/clear.png);
  background-size: cover;
}

/* line 52, E:/Project/Weather App/styles/sass/main.sass */
#container.cloudsbg {
  background: url(../../img/clouds.jpg);
  background-size: cover;
}

/* line 55, E:/Project/Weather App/styles/sass/main.sass */
#container.thunderstormbg {
  background: url(../../img/thunderstorm.jpg);
  background-size: cover;
}

/* line 58, E:/Project/Weather App/styles/sass/main.sass */
#container.snowbg {
  background: url(../../img/snow.png);
  background-size: cover;
}

/* line 62, E:/Project/Weather App/styles/sass/main.sass */
#slidingbg {
  position: absolute;
  z-index: -2;
  background: url(../../img/locating.jpg) repeat-x;
  background-size: contains;
  background-position: center;
  height: 100vh;
  width: 5120px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-2560px, 0, 0);
  }
}

/* line 80, E:/Project/Weather App/styles/sass/main.sass */
#location {
  font-size: 32px;
  margin: 0;
  font-weight: 600;
}

/* line 85, E:/Project/Weather App/styles/sass/main.sass */
#weather {
  font-size: 26px;
  text-transform: capitalize;
  margin: 10px 0 0 0;
}

/* line 90, E:/Project/Weather App/styles/sass/main.sass */
#wetemp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* line 96, E:/Project/Weather App/styles/sass/main.sass */
.icon {
  height: 150px;
  width: 150px;
  position: relative;
  top: -30px;
  left: -12px;
}

/* line 103, E:/Project/Weather App/styles/sass/main.sass */
.wi {
  font-size: 80px;
  margin-right: 15px;
}

/* line 107, E:/Project/Weather App/styles/sass/main.sass */
#tempwrap {
  align-self: flex-start;
  margin: 7px 0 0 -25px;
  font-size: 20px;
}

/* line 112, E:/Project/Weather App/styles/sass/main.sass */
#celsius, #fahrenheit {
  cursor: pointer;
}

/*# sourceMappingURL=../css/main.map */